$margin: 20px;
$color: rgb(255, 0, 153);
$color-gray: lightgray;
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

body {
    background: $color-gray;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    background: white;
    padding: 20px;
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}

header {
    border-bottom: 2px solid $color-gray;
    left: 0px;
    right: 0px;
    z-index: 10;
    $margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-left {
    background: url(/image/logo.jpg) center/cover no-repeat;
    width: 50px;
    height: 50px;
}

.header-center ul li {
    display: inline-block;
    margin: 0 10px;
}

.header-center ul {
    list-style: none;
}

.header-center ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font: normal 15px "Fugaz One", cursive;
    font-size: 20px;
}

.header-right:before {
    width: 20px;
    height: 20px;
    background: url(/image/user.png) center/cover no-repeat;
}

.header-right:before {
    content: "";
    display: inline-block;
    margin-right: -20px;
    vertical-align: -5px;
    justify-content: space-between;
}

.menu {
    padding: 20px;
}

.menu a {
    color: black;
    text-decoration: none;
    font: normal 15px "Fugaz One", cursive;
}

.user {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}

.user span {
    color: orange;
    margin-left: 10px;
}

.user-link {
    display: inline-block;
    margin-left: 20px;
}

.user-link:before {
    background: url(/image/sumka.png) center/cover no-repeat;
    width: 16px;
    height: 16px;
}

.user-link:before {
    content: "";
    display: inline-block;
    margin-right: 6px;
    vertical-align: -1px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 200;
}

.category {
    text-align: center;
    margin-bottom: 20px;
}

.select {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 10px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 10%;
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 50px;
    appearance: none;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
}

h1 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    flex-grow: 1;
    min-width: calc(33.33333% - 40px);
    max-width: calc(33.33333% - 40px);
    margin: 0 $margin;
    border: 2px solid orange;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.catalog-item-pic {
    height: 490px;
    margin-bottom: 20px;
    background: center/cover no-repeat;
    margin-bottom: 20px;
}

.catalog-item-name {
    font-size: 20px;
    font-weight: bold;
}

.catalog-item-price {
    font-style: italic;
}

.number {
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.number-item {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: rgb(69, 68, 68);
    border: 2px solid black;
    color: #fff;
}

.active {
    border: 2px solid black;
    background: white;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 200;
}

.footer-item {
    box-sizing: border-box;
    border-right: 2px solid rgba(94, 86, 73, 0.701);
    padding: 10px;
    flex-grow: 1;
}

.footer-right {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
}

.footer-item-collection p {
    font-style: italic;
}

.footer-item-collection span {
    text-decoration: underline;
}

.footer-item-about p {
    font-style: italic;
}

.footer-item-soc p {
    font-style: italic;
}

.footer-item-soc img {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
}

.button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.main {
    padding: 50px;
    & h1 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }
    & h2 {
        font-style: italic;
        text-align: center;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 200;
    }
}

.info {
    & h1 {
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }
    & h2 {
        font-style: italic;
        text-align: center;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 200;
    }
    & p {
        color: red;
        text-align: center;
        font-style: italic;
        padding: 20px;
    }
}

[type="email"] {
    width: 30%;
    border: 2px solid $color-gray;
    margin-bottom: 15px;
    outline: none;
    padding: 10px 10px;
}

[type="submit"] {
    width: 10%;
    background: orange;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid orange;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
}

form {
    text-align: center;
    padding: 20px;
}

.product {
    padding: 30px;
    & h1 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }
    & h2 {
        font-style: italic;
        text-align: center;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 200;
    }
}

.block {
    padding: 30px;
}

table {
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

tbody tr:nth-child(2n) {
    background: rgba(233, 238, 240, 0.968);
}

thead>tr>td:nth-child(2n) {
    text-align: start;
}

td {
    border-bottom: 2px solid $color-gray;
    padding: 7px 12px;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

.first {
    width: 100%;
}

tfoot td:first-child {
    text-align: end;
    border-bottom: none;
    background: rgba(233, 238, 240, 0.968)
}

tfoot td span {
    color: orange;
    padding: 7px;
}

.input-number {
    display: inline-block;
}

.input-number .numeric {
    text-align: center;
    cursor: pointer;
}

.input-number .minus {
    background: black;
    box-sizing: border-box;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.input-number .minus:after {
    background: #fff;
    content: '';
    display: block;
    height: 1px;
    left: 4px;
    position: absolute;
    top: 7px;
    width: 7px;
}

.input-number .plus {
    background: black;
    box-sizing: border-box;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.input-number .plus:before {
    transform: rotate(-90deg);
    left: 4px;
    top: 7px;
    background: #fff;
    content: '';
    display: block;
    height: 1px;
    left: 4px;
    position: absolute;
    top: 7px;
    width: 7px;
}

.input-number .plus:after {
    background: #fff;
    content: '';
    display: block;
    height: 1px;
    left: 4px;
    position: absolute;
    top: 7px;
    width: 7px;
}

.close {
    position: absolute;
    cursor: pointer;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background: black;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.snake {
    display: flex;
    padding: 10px;
}

.snake-item {
    position: relative;
    padding: 2px;
    left: 550px;
}

.snake-item::before {
    width: 15px;
    height: 15px;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    content: '';
    transform: rotate(45deg);
    display: flex;
}

.adress {
    padding: 50px;
    & h1 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }
    & h2 {
        font-style: italic;
        text-align: center;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 200;
    }
    & h3 {
        // text-transform: uppercase;
        // font-size: 15px;
        // text-align: center;
        // font-weight: 300;
        // padding: 10px;
        display: block;
        padding: 0 0 13px;
        float: left;
        width: 100%;
        font-weight: 600;
        line-height: 1;
    }
}

.formline {
    clear: both;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
}

// [type="text"] {
//     width: 50%;
//     border: 2px solid $color-gray;
//     margin-bottom: 15px;
//     outline: none;
//     padding: 10px 10px;
// }
// .delivery {
//     background: url(/image/down-arrow.png) center/cover no-repeat;
// }
// .deliver img {
//     width: 20px;
//     height: 20px;
// }
.delivery {
    // width: 50%;
    // cursor: pointer;
    // padding: 10px 15px;
    // outline: 0;
    // border: 0;
    // background: #e6e6e6;
    // color: #7b7b7b;
    // -webkit-appearance: none;
    // /*убираем галочку в webkit-браузерах*/
    // -moz-appearance: none;
    // /*убираем галочку в Mozilla Firefox*/
    position: relative;
    display: inline-block;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.delivery::-ms-expand {
    display: none;
    /*убираем галочку в IE*/
}

.delivery::after {
    content: "▼";
    padding: 0 8px;
    font-size: 10px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 10%;
    pointer-events: none;
    box-sizing: border-box;
    
    // position: absolute;
    // top: 38px;
    // right: 15px;
    // width: 0;
    // height: 0;
    // pointer-events: none;
    // /*активизируем показ списка при нажатии на стрелку*/
    // border-style: solid;
    // border-width: 8px 5px 0 5px;
    // border-color: #7b7b7b transparent transparent transparent;
}

.preloader {
    margin: 0 auto;
    width: 80px;
    height: 80px; 
    background: url(/image/831.svg) center center / contain no-repeat;
}